/* YOUR CUSTOM STYLES */

.tabs .indicator{
    background-color: #1565c0;
}
.tabs .tab a {
    color: #7d9ac0;
}

.tabs .tab a:hover {
    color: #3a96c0;
}

.tabs .tab a.active {
    color: #1565c0;
}

.container {
    margin-top: 50px;
}

.switch label input[type=checkbox][disabled]+.campagne:after {
    background-color: #00b0ff;
}
.switch label input[type=checkbox][disabled]:checked+.campagne:after {
    background-color: #ff2543;
}

.switch .lever{
    border: 1px solid #9b989f;
}