{% extends 'base.html' %}


{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel blue darken-4">
                <span class="white-text">
                    Bienvenue,<br>
                    Il vous reste {{ left }} jours pour Traiter les Frais du mois de {{ date_fiche_frais|date:"F" }}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-content">
                    <span class="card-title center">
                        Valider des Frais<br>
                    </span>
                </div>
                <div class="card-action center">
                    <a class="btn waves-effect waves-light" href="{% url 'selection_visiteur' %}">Selection Visteur</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card small">
                <div class="card-content">
                    <span class="card-title center">
                        Gérer les Frais Forfaitisé<br>
                    </span>
                </div>
                <div class="card-action center">
                    <a class="btn waves-effect" href="{% url 'ajout_forfait' %}">Créer</a>
                    <a class="btn waves-effect" href="{% url 'gestion_forfait' %}">Gérer</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card small">
                <div class="card-content">
                    <span class="card-title center">
                        Liste de tout<br>les Frais<br>
                    </span>
                </div>
                <div class="card-action center">
                    <a class="btn waves-effect" href="{% url 'liste_fiche' %}">Liste</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-content">
                    <span class="card-title center">
                        Liste anciens<br>Frais Forfaitisé<br>
                    </span>
                </div>
                <div class="card-action center">
                    <a class="btn waves-effect" href="{% url 'liste_ancien_forfait' %}">Liste</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}